{% extends "base.html" %}

{% block content %}
    {% block title %}Page Not Found{% endblock %}
    {% block body %}
      <h1>Page Not Found</h1>
      <p>This is not the page you are looking for.
      <p><a href="{{ url_for('index') }}">Try Here</a>
    {% endblock %}
{% endblock %}